<div class="container-fluid" id="game">
  <div class="row" >
      
	  <div id ="punctuation" class="col-md-1">
	  	<h3>Punctuation</h3>
		<% @punctuation.each_with_index do |x, i|%>
			<p id="punc<%=i%>" class='ui-widget-header'><%= x.content%></p>
	 	<%end%>

	</div>

	 <div class="col-md-9" id="board">

 		<div id="sentence_parts" class="row">
		</div>

		 <div id="words_holder" class="row">
		 	<div id="words" >
		 	</div>
		 </div>

	 </div>



	<div class="col-md-1 col-sm-2" >
	  <div id ="suffixes">
	  	<h3>Suffixes</h3>
		<% @suffixes.each do |x|%>
			<p id="suffix"><%= x.content%></p>
		<%end%>
    </div>
    <div class="audio"></div>

    </div>  
  </div>
</div>



<%= render 'form'%>

