<p id="notice"><%= notice %></p>

<h1>Listing Sentences</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
       <% if sentence.words%>  
         <% sentence.words[0].capitalize! %> 
         <td><h2><%= sentence.words.join(" ")%></h2></td>
        <%end%>

        <td><%= link_to 'Delete', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


</table>

<br>

<%= link_to 'New Sentence', new_sentence_path %>
