@import "bootstrap-sprockets";
@import "bootstrap";  

#body {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #457CA1;
}

#new_sentence_button{
  margin: 20px 0 20px 0;
}

#game{
    background-color: #457CA1;

}

#words{
  z-index: 1;
}

#words_holder{
  background-color: #FFD87F;
  padding: 100px 0 100px 10px;
}

#box0, #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
 background-color: #FFD066;
  margin-left: 10px;
  line-height: 35px;
  width: 130px;
  height: 40px; 
  text-align: center;
  border: 3px solid #B28724;
  display: inline-block;
  &:hover{
  		box-shadow: 10px 10px 20px blue;
  	}
  }

#droppable{
  border: none;
  text-align: center;
 	width: 170px;
  height: 40px;
  padding: 0.5em; 
  box-shadow: 0 0 100px 10px yellow, 1px 1px 60px 3px yellow inset ;
  display: inline-block;
  }




#sentence_parts{
background-color: #FFD87F;
  padding: 20px;
}

#sentence_parts div{
  margin: 100px 5px 0  0;
  border-bottom: solid black 1px;
  text-align: center;
  background: transparent;
}

#dropped{
  border: none;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  width: 170px;
  height: 40px;
  padding: 0.5em; 
  display: inline-block;
  }

#suffixes{

  width: 100px;
}

#suffixes p{
  text-align:center;
  background-color: #EEC07E;
  z-index: 2;
  width: 40px;
  display: inline-block;
  padding: 5px;

}


#punctuation{
  text-align:center;
  width: 200px;
  border: 1px solid blue;
   margin-top: 20px;
}
#punctuation p{
z-index: 3;
  height: 30px;
  border: 1px solid blue;
  width: 15px;
  display: inline-block;
 
}
#puncDrop{
  line-height: 20px;
  vertical-align: top;
  border: 1px solid blue;
  width: 20px;
  height: 40px;
  display: inline-block;
 
}

#puncDropped{
  line-height: 20px;
  vertical-align: top;
  border: 1px solid blue;
  width: 20px;
  height: 40px;
  display: inline-block;
 
}

#interjection{
  text-align:center;
  width: 200px;
  border: 1px solid green;
   margin-top: 100px;
}
#interjection p{
  border: 1px solid green;
  width: 20px;
  height: 30px;
  display: inline-block;
 
}

.btn{
  background-color: #7EC0EE;
}


.panel{
      background-color: #FFD87F;
      
}

.panelpanel-default.panel-heading{
       background-color: #FFD87F;
      }


.navbar-default {
  background-color: #7ec0ee;
  border-color: #7ec0ee;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #7ec0ee;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #7ec0ee;
}
.navbar-default .navbar-toggle {
  border-color: #7ec0ee;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #7ec0ee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #7ec0ee;
  }
}
