#welcome{
    cursor: pointer;
	text-align: center;
	background-color: skyblue;
	padding: 75px;
}
#welcome h1{
    cursor: pointer;
	font-size: 30px;
}
#welcome p{
    cursor: pointer;
	font-size: 5px;
}