<h1>ABOUT</h1>


<div class="container">
	<article>
	<h2> About WordApp</h2>
	<p style="color: white">
		This app is based on Magnetic Poetry fridge magnets, and was made with love my me, Matt Wuertz. I hope y'all enjoy playing half as much as I enjoyed making it. 
	</p>
</article>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer id ="about">
		<a style="color: white" href="https://github.com/KMG112">MY GITHUB!</a>
		<a style="color: white"href="https://www.linkedin.com/pub/matthew-wuertz/50/87a/76">MY LINKEDIN!</a>
		Phone Number:401-533-7116
		</br>Email: mattwuertz@gmail.com
</footer>
	

</div>

